/*Main*/
.Main{
    display: flex 1;
    min-height: 100vh;
    padding-bottom: 10vh;
    position: relative;
}
.Main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 20px;
    gap: 152vh;
}