@import "tailwindcss";

.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    background-color: #f0f4f9;
    justify-content: space-between;
    padding: 25px 15px;
}
.sidebar img {
    width: 20px;
}
.sidebar p {
    height: 20px;

}
.meun{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.new{
    padding: 10px 15px;
    display: inline-flex;
    font-size: 14px ;
    align-items: center;
    background-color: #E6EAF1;
    border-radius: 50px;
    color: rgb(115, 115, 115);
    cursor: pointer;
}
.App-flex{
    display: flex;
    width: 100%;
}



